* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    width: 100%;
    a {
        color: #0000EE;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &:visited {
            color: #0000EE;
        }
    }
}

/* ERROR PAGE NO TOKEN */
body:has(.errorTitle) {
    background-color: rgb(173, 5, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .errorContainer {
        background-color: rgb(114, 0, 17);
        border: none;
        border-radius: 3px;
        text-align: center;
        width: fit-content;
        padding: 10px;
        .errorTitle {
            font-family: 'Andada Pro', sans-serif;
            font-size: 32px;
        }
        .errorP {
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

/* STYLE LOGIN */
body.login {
    background-color: #f2f3f4;
    padding: 10px;
    form.login {
        input.login {
            padding: 5px;
            font-size: 18px;
            background-color: #fff;
            border: 3px solid transparent;
            outline: none;
            border-radius: 3px;
            transition: .3s ease-in all;
            height: 7vh;
            &:focus {
                border-color: #0000EE;
            }
        }
        button.login {
            height: 7vh;
            padding: 5px;
            border: 1px solid black;
            border-radius: 3px;
            font-size: 18px;
            background-color: #5959ee;
            cursor: pointer;
            transition: .3s ease-in all;
            &:hover {
                background-color: #4e4ed8;
            }
        }
    } 
}

body header {
    width: 100%;
    margin: 0;

    nav.navbar {
        width: 100%;
        display: flex;
        background-color: lightseagreen;
        padding: 7px 5px;
        overflow: hidden;
        top: 0;
        position: fixed;
        justify-content: flex-start;
        z-index: 999;

        ul {
            display: flex;
            justify-content: space-between;
            // width: 40%;
            min-width: fit-content;

            li {
                list-style-type: none;
                background-color: lightseagreen;
                padding: 10px;
                cursor: pointer;

                &:hover {
                    background-color: rgba(12, 235, 197, 0.479);
                    text-decoration: underline;
                    min-width: fit-content;
                }

                a {
                    text-decoration: none;
                    color: black;
                    font-size: 18px;
                }
            }
        }
    }
}

/* MAIN */
body main {
    margin: 0;
    background-color: #f2f3f4;

    #gotop {
        position: fixed;
        bottom: -60px; /* Initially hidden below screen */
        right: 20px;
        width: 50px;
        height: 50px;
        background: black;
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        font-size: 24px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: bottom 0.3s ease, opacity 0.3s ease;

        &:not(.gotop).show {
            bottom: 20px; /* Moves up */
            opacity: 1; /* Becomes visible */
        }

        &:not(.gotop):hover {
            background: #444;
        }
    }

    section.myname {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .text {
            display: block;
            text-align: center;

            .btn.godown {
                border: 3px solid transparent;
                border-radius: 5px;
                /* background-color: #ccc; */
                padding: 10px;
                transition: .3s ease-in all;
                font-size: 25px;
                transform: font-size 0.2s ease;
                background-color: transparent;
                z-index: 1;
                position: relative;

                &:hover {
                    /* background-color: #b8b4b4; */
                    cursor: pointer;
                    font-size: 25px;
                    transform: scale(1.25);
                    background-color: #f2f3f4;
                    /* border-color: royalblue; */
                }
            }

            h1.title {
                font-size: 100px;
                font-family: 'Economica';
                font-weight: 200;
            }

            h2.subtitle {
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                z-index: 2;
                position: relative;
            }
        }
    }

    .drawing {
        background-color: coral;
        height: 15vh;
    }

    section.bodysection {
        background-color: coral;
        margin: 0;
        padding: 50px;
        text-align: justify;
        min-height: 100vh;

        .pctitle {
            display: flex;
            justify-content: center;
            text-align: center;
            width: 100%;
            margin-bottom: 20px;

            h1.ptitle {
                font-family: 'Economica';
                font-size: 80px;
                font-weight: 200;
            }
        }
        
        .break {
            height: 10vh;
        }

        .pctext {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;

            

            p {
                font-size: 18px;

                a {
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }

                    &:visited {
                        color: #0000EE;
                    }
                }
            }
        }

        .flex {
            display: flex;
            justify-content: space-between;
            .left {
                width: 45%;
                img {
                    width: 100%;
                }
            }

            .right {
                width: 45%;
                img {
                    width: 100%;
                }
            }
        }

        table {
            border: 4px solid black;
            width: 100%;
            border-radius: 3px;
            font-family: 'National Park', sans-serif;
            font-size: 20px;
            border-collapse: collapse;
            thead {
                tr {
                    th {
                        font-weight: 500;
                        border: 1px solid black;
                        border-left: 1px solid black;
                        border-right: 1px solid black;
                        text-align: center;
                    }
                }
            }
            tbody {
                tr {
                    th {
                        font-weight: 500;
                        border: 1px solid black;
                        border-left: 1px solid black;
                        border-right: 1px solid black;
                        text-align: center;
                    }
                    td {
                        font-weight: 300;
                        border: 1px solid black;
                        border-left: 1px solid black;
                        border-right: 1px solid black;
                        text-align: center;
                    }
                }
            }
        }
    }
}

    /* BEGIN SCROLL EDITS */
    ::-webkit-scrollbar {
        width: 10px;
        background-color: darkgrey;
        /* padding: 5px; */
    }

    ::-webkit-scrollbar-thumb {
        background-color: #6f6f6f;
        border-radius: 10px;
        transition: .3s ease-out all;

        &:hover {
            background-color: #5e5a5a;
        }
    }

    ::-webkit-scrollbar-track {
        background-color: #a9a9a9;
    }

    ::-webkit-scrollbar-button {
        display: none;
        background-color: #333;
        color: white;
    }


/* BEGIN FOOTER */
body footer {
    background-color: #282b2b;
    padding: 20px;
    text-align: center;
    color: #fff;
    h1 {
        font-size: 80px;
        font-family: 'Economica', sans-serif;
        font-weight: 200;
    }

    p {
        font-size: 18px;
        font-family: 'Noticia Text', sans-serif;
        font-weight: 300;
    }

    .like_btn {
        width: 70%;
        border-radius: 2px;
        background-color: rgb(27, 131, 27);
        padding: 5px;
        text-align: center;
        border: 0;
        outline: none;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        margin-top: 10px;
        transition: .3s ease-in-out all;
        cursor: pointer;
        &:hover {
            background-color: rgb(20, 88, 20);
        }
    }
}

/* BEGIN EXCEPTIONS */
body main section.bodysection .pctext.dflex {
    display: flex;
    justify-content: center;
}